body {
  /* stylelint-disable */
  font-family: 'Balsamiq Sans';
  /* stylelint-enable */
  font-weight: 900;
  color: black;
}

nav {
  border: 3px solid black;
  padding: 10px 15px;
}

.logo {
  text-decoration: none;
}

.menu-items a {
  border-right: 2px solid black;
  padding: 0 20px;
  color: black;
  text-decoration: none;
}

.display-none {
  display: none;
}

.menu-items a.active {
  color: #0d6efd;
}

.box-size {
  margin-left: 100px;
  margin-right: 100px;
  border: 5px solid black;
}

#books-data {
  padding: 0;
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
}

#books-data li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 1.5rem;
}

#books-data li:nth-child(odd) {
  background: rgba(128, 128, 128, 0.267);
}

p {
  font-weight: 900;
}

button {
  all: unset;
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.2em 0.5rem;
  box-shadow: 4px 3px black;
  background: white;
  cursor: pointer;
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid black;
  margin-bottom: 18px;
  height: 45px;
  padding-left: 15px;
}

form button {
  align-self: flex-end;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

#copyright {
  margin: 0.5rem;
  border: 5px solid black;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  font-weight: bold;
}
